/* reset  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* general settings */
.container{
    max-width: 1170px;
    margin-inline: auto;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    background-color: blue;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 15px;
}
.row{
    justify-content: center;
}
.green{
    background-color: green;
}